/********************************************************************
* Add page styles
* ******************************************************************/

.post-edit-wrapper {

    .edit-section {
        margin-bottom: 30px;
        overflow: hidden;
        .subtitle {
            display: inline-block;
            margin-bottom: 15px;
            width: 100%;
        }
        .has-required {
            .input-wrapper {
                border-left: 2px solid #209cee;
                padding-left: 15px;
            }
        }
        select,
        .select {
            width: 100%;
        }
    }
    .post-actions {
        margin-bottom: 30px;
        .level-left a {
            margin-right: 15px;
        }
    }

    #post-taxonomies {
        .subtitle {
            display: inline-block;
            margin-bottom: 10px;
        }
        .term-list {
            padding-left: 10px;
        }
    }

    .post-list {
        .post-list-item {
            margin-top: 10px;
            .level {
                width: 100%;
            }
            .subtitle {
                margin-bottom: 0;
            }
            span {
                margin-right: 15px;
            }
        }
    }

    .selected-post-list,
    .post-input-wrapper {
        border-left: 5px solid #7a7a7a;
        margin-bottom: 10px;
        padding-left: 10px;
        .post-search-input {
            height: 35px;
            padding-left: 10px;
            width: 100%
        }
    }
    .selected-post-list {
        li {
            display: flex;
            margin-bottom: 5px;
            > div {
                flex: 1;
            }
        }
        .actions {
            text-align: right;
            a {
                margin-left: 10px;
            }
            .delete-post-list-item {
                border-left: 1px solid #7a7a7a;
                margin-left: 15px;
                padding-left: 15px;
            }
        }
    }

    .control.is-loading {
        .icon {
            display: none;
        }
    }
}