/********************************************************************
* Archive page styles
* ******************************************************************/

.archive {
    .archive-header {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 15px;
        a i {
            margin-left: 15px;
        }
    }
}