/********************************************************************
* Header stylez
* ******************************************************************/

nav.navbar {
    background: #324148;
    border-bottom: 1px solid rgba(255,255,255,.1);
    .level {
        width: 100%;
    }
    .navbar-brand {
        padding-left: calc(0.5rem + 48px);
        img {
            height: 26px;
            margin-top: 13px;
        }
    }
    .navbar-actions ul {
        color: #fff;
        display: inline-block;
        font-size: 22px;
        padding-right: calc(0.5rem + 48px);
        li {
            float: left;
            margin-left: 25px;
            position: relative;
            i {
                cursor: pointer;
            }
        }
        &#global-items > li {
            &::after {
                background: #209cee;
                border-radius: 50%;
                color: #fff;
                content: attr(data-count);
                display: block;
                font-size: .75rem;
                height: 18px;
                line-height: 18px;
                position: absolute;
                right: -6px;
                text-align: center;
                top: 0;
                width: 18px;
            }
            &[data-count="0"]::after {
                display: none;
            }
        }
    }
    #global-items {
        li:first-child {
            margin-right: 25px;
        }
    }
    #notification-icon {
        #notification-list {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            width: 360px;
            .notification-list-item {
                border-bottom: 1px solid #ccc;
                margin: 0 0 15px 0;
                padding-bottom: 10px;
                width: 100%;
                .label {
                    margin-bottom: 0;
                }
            }
        }
        &.active #notification-list {
            display: block;
        }
    }
}

header.column {
    background: #263238;
    padding: 40px 0 0 0;
    ul {
        font-weight: bold;
        margin-bottom: 30px;
        &#user-menu {
            font-weight: normal;
        }
    }
    .menu-header.menu-item {
        color: #fff;
        font-size: 14px;
        padding: .75rem 1.25rem;
    }
    .menu-item {
        font-size: 18px;
        opacity: 0.9;
        a,
        & > div {
            color: #fff;
            padding: .75rem 1.25rem;
            width: 100%;
            &:hover,
            &.is-active {
                background: #f5f5f5;
                color: #209cee;
            }
        }
        i {
            margin-right: 15px;
        }
        .sub-menu {
            background: rgba(0, 0, 0, 0.2);
            font-size: 14px;
            margin-bottom: 0;
            max-height: 0;
            overflow: hidden;
            padding: 0 0 0 30px;
            transition: all 0.25s ease-in-out;
            i {
                color: #26a69a;
            }
        }
        &.is-active {
            > a {
                background: #26a69a;
            }
            .sub-menu {
                max-height: 1000px;
                padding: 20px 0 20px 30px;
            }
        }
        .menu-links {
            a {
                float: right;
                margin-left: 10px;
                padding: 0;
                width: auto;
            }
            i {
                font-size: 14px;
                margin-right: 0;
            }
        }
        &[data-type="object"] > div {
            padding-bottom: 0;
            padding-left: calc(0.5rem + 33px);
            padding-top: 0;
        }
        &:hover a {
            color: #209cee;
        }
    }
    .menu-label {
        margin-bottom: 0;
        padding: 0 1.25rem;
    }
    #task-count {
        background: #209cee;
        border-radius: 50%;
        line-height: 18px;
        text-align: center;
        width: 18px;
    }
    .is-active #task-count {
        color: #fff;
    }
}