/********************************************************************
* Object dashboard styles
* ******************************************************************/

#objects-list {
    margin-left: 15px;
    .menu-label {
        margin-bottom: 0;
    }
    .menu-list {
        margin-bottom: 30px;
        li {
            line-height: 30px;
            padding: 0 0 0 15px;
        }
        a {
            display: inline;
        }
    }
}

#namespaces-list {
    margin-top: 30px;
    ul {
        &:empty::before {
            content: 'There are no defined namespaces yet.';
            color: #7a7a7a;
            display: block;
            text-align: center;
        }
    }
}

/********************************************************************
* Object styles
* ******************************************************************/

#edit-object {
    &.is-loading {
        padding-top: 75px;
        form {
            display: none;
        }
        .is-loader {
            display: block;
        }
    }
    .is-loader {
        display: none;
    }
}

#object-edit-form {

    #meta-template {
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .meta-field-list {
        &:empty::before {
            content: 'There are no defined meta fields for this group yet.';
            display: block;
            text-align: center;
        }
    }

    #meta-field-list {
        .meta-list-item .field {
            margin: 0;
        }
        .meta-list-item .title {
            margin-bottom: 3px;
        }
    }

    #options-list {
        margin-bottom: 0.75em;
        &:empty:before {
            color: #b5b5b5;
            content: "No options defined yet";
            display: block;
            font-size: 0.75em;
        }
    }

    .object-meta-section {
        border-left: 2px solid #209cee;
        margin-bottom: 0.5em;
        margin-top: 0.75em;
        padding-left: 0.75em;
    }
    #extra-field-list .ui-sortable-helper,
    #extra-field-list .ui-sortable-placeholder {
        background: #276cda;
        visibility: visible !important;
    }
    #extra-field-list:empty::before {
        content: 'There are no extra fields for this yet';
        display: block;
        font-weight: bold;
        padding-bottom: 1.75em;
    }

    #taxonomy-template {
        margin-top: 10px;
        &.hidden {
            display: none;
        }
    }
    #taxonomy-list:empty::before {
        color: #b5b5b5;
        content: "No categories defined yet";
        display: block;
        font-size: 0.75em;
    }
}

#meta-actions {
    text-align: right;
    width: 50%;
}
#current-meta-actions {
    text-align: left;
    font-size: 22px;
    i {
        cursor: pointer;
        margin: 0 7px;
        &:last-child {
            margin-left: 20px;
        }
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.25;
    }
}

#meta-group-list {
    &:empty::before {
        content: 'There are no defined meta groups yet.';
        display: block;
        text-align: center;
    }
    .meta-group {
        border: 1px solid #ccc;
        margin-top: 30px;
        padding: 15px;
        position: relative;
    }
    .group-properties {
        background: #fff;
        color: #999;
        padding: 0 15px;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 33%;
        input {
            appearance: none;
            -webkit-appearance: none;
            border: 0;
            color: #999;
            &:focus {
                outline: none;
            }
        }
        i {
            cursor: pointer;
        }
    }
    .new-meta-field {
        display: block;
        margin: 30px auto 0 auto;
        width: 160px;
    }
}

#meta-template {
    display: none;
}

.meta-list-item {
    background: #f9f9f9;
    border: 2px solid #fff;
    opacity: 0.5;
    padding: 0;
    .meta-name,
    .meta-slug,
    .options-list-item input[type="text"],
    .extra-field-name,
    .extra-field-slug {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        box-shadow: none;
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .meta-name {
        color: #000;
        font-weight: bold;
    }
    &.current-meta-item {
        opacity: 1;
    }
    label.label,
    .subtitle {
        margin-bottom: 0;
    }
    .options-list-item {
        margin-bottom: 0;
        &:first-child {
            margin-top: 15px;
        }
        &:last-child {
            margin-bottom: 15px;
        }
        .column {
            padding: 0;
        }
    }
}

#post-taxonomies {
    .term-list {
        margin-bottom: 15px;
    }
}