/********************************************************************
* Login Form
* ******************************************************************/

body.login article > .columns {
    align-items: center;
    min-height: 100vh;
}
#loginform {
    margin-top: 45px;
    .control {
        margin-bottom: 20px;
    }
    input[type="submit"] {
        margin-top: 45px;
    }
    label.checkbox {
        margin-top: 7px;
    }
}

/********************************************************************
* Dashboard
* ******************************************************************/

#add-dashboard-item {
    border: 1px dashed #ccc;
    padding: 15px;
    text-align: center;
}

/********************************************************************
* Menu Setup
* ******************************************************************/

#menu-setup {
    .menu-label {
        margin-bottom: 5px;
    }
    .menu-list {
        margin-bottom: 15px;
    }
    #menu-objects-list {
        margin-bottom: 30px;
        & > ul {
            margin-top: 15px;
            padding: 0 0 0 15px;
            .menu-label {
                padding-left: 10px;
            }
            li {
                line-height: 22px;
                padding: 5px 10px;
            }
            i {
                line-height: 22px;
            }
        }
    }
    .menu-group {
        border: 2px dashed #999;
        margin-bottom: 15px;
        padding: 15px;
        position: relative;
        & > input[type="text"] {
            appearance: none;
            border: 0;
            box-shadow: none;
            position: absolute;
            top: -15px;
            width: 150px;
            &:focus {
                outline: none;
            }
        }
        &.active-menu-group {
            border-color: #00d1b2;
        }
        .menu-item {
            i {
                margin-left: 10px;
                &.enabled {
                    color: #00d1b2;
                }
            }
        }
    }
}


/********************************************************************
* Single Mash
* ******************************************************************/

#mash-graph-wrapper {
    h1 {
        margin-bottom: 0;
        padding-left: .75rem;
    }
}
#mash-actions {
    a {
        margin-bottom: 10px;
    }
}

.stat {
    margin-right: 15px;
    text-align: center;
    &#mash-temp .value {
        position: relative;
        &::after {
            content: "o";
            display: inline-block;
            font-size: 12px;
            position: absolute;
            top: 5px;
        }
    }
    .value {
        line-height: 1;
    }
    .box {
        height: 100%;
        min-height: 100px;
    }
    .label {
        margin-bottom: 0;
    }
}


/********************************************************************
* Stats slider
* ******************************************************************/

.stats-slider .stat {
    .box {
        position: relative;
        .manual-input {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .manual-value-form {
            display: none;
            margin-top: 4px;
        }
    }
    &.manual-active {
        .value {
            display: none;
        }
        .manual-value-form {
            display: block;
        }
    }
}

/********************************************************************
* Subscriptions
* ******************************************************************/


#subscriptions-list {
    .menu-label {
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .item-list {
        line-height: 1.5;
    }
    .subscription-item.added {
        color: #00d1b2;
    }
}


/********************************************************************
* Tasks
* ******************************************************************/

#task-navigation {
    margin-bottom: 40px;
    .count {
        background: #fff;
        border-radius: 50%;
        color: #00d1b2;
        font-size: 12px;
        line-height: 16px;
        margin-left: 7px;
        width: 16px;
    }
}
#task-actions {
    .column {
        padding-bottom: 0;
        padding-top: 0;
    }
}
#task-content {
    .task-list-item {
        margin-bottom: 0;
        .title {
            margin-bottom: 0;
        }
    }
}
.task .stat {
    display: inline-block;
    margin-left: 7px;
}


/********************************************************************
* Comments
* ******************************************************************/

#comments {
    margin-top: 45px;
}
#comment-form-wrapper {
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    padding-bottom: 15px;
}
#comment-list {
    margin-top: 30px;
    .comment-list-item {
        margin-bottom: 15px;
        .time {
            margin-left: 7px;
        }
    }
}


/********************************************************************
* Calendar
* ******************************************************************/

.calendar {
    width: 100%;
    .calendar-header {
        text-align: center;
        font-weight: bold;
    }
    .day {
        color: #fff;
        position: relative;
        &::before {
            content: attr(data-day);
            display: block;
        }
    }
}
.calendar[data-style="compact"] {
    .calendar-header {
        font-size: 22px;
        margin-bottom: 7px;
        .month-label {
            display: inline-block;
            margin: 0 7px;
        }
    }
    .week {
        margin-bottom: 0;
    }
    .day {
        background: #ccc;
        float: left;
        margin: 1px;
        min-height: 45px;
        &:first-child,
        &:last-child {
            background: #209cee;
        }
        &::before {
            font-size: 10px;
            font-weight: bold;
            left: 3px;
            position: absolute;
            top: 3px;
        }
        &.selected {
            background: #ff3860;
        }
    }
    .not-in-month {
        opacity: 0.5;
    }
}

/********************************************************************
* Reports
* ******************************************************************/

.bottling .notes {
    border-bottom: 1px solid #ccc;
    margin-bottom: 45px;
    padding-bottom: 15px;
}

.report-item {
    &.transfer {
        margin: 30px 0;
    }
}

/********************************************************************
* Transactions
* ******************************************************************/

#transaction-stats {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.transaction-amount {
    .has-text-success::before {
        content: '+ $';
        display: inline;
    }
    .has-text-danger::before {
        content: '- $';
        display: inline;
    }
}