/********************************************************************
* Add page styles
* ******************************************************************/
.post-edit-wrapper .edit-section {
  margin-bottom: 30px;
  overflow: hidden; }
  .post-edit-wrapper .edit-section .subtitle {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%; }
  .post-edit-wrapper .edit-section .has-required .input-wrapper {
    border-left: 2px solid #209cee;
    padding-left: 15px; }
  .post-edit-wrapper .edit-section select,
  .post-edit-wrapper .edit-section .select {
    width: 100%; }
.post-edit-wrapper .post-actions {
  margin-bottom: 30px; }
  .post-edit-wrapper .post-actions .level-left a {
    margin-right: 15px; }
.post-edit-wrapper #post-taxonomies .subtitle {
  display: inline-block;
  margin-bottom: 10px; }
.post-edit-wrapper #post-taxonomies .term-list {
  padding-left: 10px; }
.post-edit-wrapper .post-list .post-list-item {
  margin-top: 10px; }
  .post-edit-wrapper .post-list .post-list-item .level {
    width: 100%; }
  .post-edit-wrapper .post-list .post-list-item .subtitle {
    margin-bottom: 0; }
  .post-edit-wrapper .post-list .post-list-item span {
    margin-right: 15px; }
.post-edit-wrapper .selected-post-list,
.post-edit-wrapper .post-input-wrapper {
  border-left: 5px solid #7a7a7a;
  margin-bottom: 10px;
  padding-left: 10px; }
  .post-edit-wrapper .selected-post-list .post-search-input,
  .post-edit-wrapper .post-input-wrapper .post-search-input {
    height: 35px;
    padding-left: 10px;
    width: 100%; }
.post-edit-wrapper .selected-post-list li {
  display: flex;
  margin-bottom: 5px; }
  .post-edit-wrapper .selected-post-list li > div {
    flex: 1; }
.post-edit-wrapper .selected-post-list .actions {
  text-align: right; }
  .post-edit-wrapper .selected-post-list .actions a {
    margin-left: 10px; }
  .post-edit-wrapper .selected-post-list .actions .delete-post-list-item {
    border-left: 1px solid #7a7a7a;
    margin-left: 15px;
    padding-left: 15px; }
.post-edit-wrapper .control.is-loading .icon {
  display: none; }

/*# sourceMappingURL=add.css.map */
