/********************************************************************
* Base styles
* ******************************************************************/
html,
body {
  background: #f9f9f9; }

.action {
  cursor: pointer;
  pointer-events: all !important; }

#htmldecoder {
  display: none; }

.is-loader {
  text-align: center; }

.is-loader::after {
  animation: spinAround 0.5s infinite;
  border: 2px solid #dbdbdb;
  border-color: transparent transparent #00d1b2 #00d1b2 !important;
  border-radius: 290486px;
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em; }

.note {
  margin-bottom: 20px; }

.disabled {
  opacity: 0.5;
  pointer-events: none; }

main.column {
  padding: 30px; }

/********************************************************************
* Form helpers
* ******************************************************************/
.field-2 {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: calc(50% - 20px); }

.field-3 {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: calc(33% - 20px); }

.tab-target {
  display: none; }
  .tab-target.is-active {
    display: block; }
  .tab-target.is-active.flex {
    display: flex; }

.is-dependent {
  display: none; }
  .is-dependent.is-active {
    display: block; }
  .is-dependent.is-active.felx {
    display: flex; }

.toggle {
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 60px; }
  .toggle::before {
    background: #fff;
    color: #999;
    content: '';
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 50%; }
  .toggle.is-true {
    background: #bada55; }
    .toggle.is-true::before {
      content: 'Yes';
      left: auto;
      right: 0; }
  .toggle.is-false {
    background: #b12222; }
    .toggle.is-false::before {
      content: "No"; }

/********************************************************************
* Global message styles
* ******************************************************************/
.messages {
  margin-bottom: 20px; }
  .messages:empty {
    margin-bottom: 0; }

/********************************************************************
* General helpers / Flex helpers not included with Bulma
* ******************************************************************/
.hidden {
  display: none; }

.is-flex {
  display: flex !important; }
  .is-flex > * {
    flex: 1; }

.justify-start {
  justify-content: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.align-start {
  align-items: flex-start !important; }

.align-end {
  align-items: flex-end !important; }

.justify-center {
  justify-content: center !important; }

.align-center {
  align-items: center !important; }

.is-grey-hover:hover {
  background: #ececec; }

.is-fullheight {
  min-height: 100vh; }

.is-fullwidth {
  width: 100%; }

/********************************************************************
* Bulma overrides
* ******************************************************************/
.columns {
  margin: 0; }

.box {
  border: 1px solid #dcdcdc;
  border-radius: 0;
  box-shadow: none; }

.button {
  border-radius: 0; }

/*# sourceMappingURL=base.css.map */
