/********************************************************************
* Header stylez
* ******************************************************************/
nav.navbar {
  background: #324148;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  nav.navbar .level {
    width: 100%; }
  nav.navbar .navbar-brand {
    padding-left: calc(0.5rem + 48px); }
    nav.navbar .navbar-brand img {
      height: 26px;
      margin-top: 13px; }
  nav.navbar .navbar-actions ul {
    color: #fff;
    display: inline-block;
    font-size: 22px;
    padding-right: calc(0.5rem + 48px); }
    nav.navbar .navbar-actions ul li {
      float: left;
      margin-left: 25px;
      position: relative; }
      nav.navbar .navbar-actions ul li i {
        cursor: pointer; }
    nav.navbar .navbar-actions ul#global-items > li::after {
      background: #209cee;
      border-radius: 50%;
      color: #fff;
      content: attr(data-count);
      display: block;
      font-size: .75rem;
      height: 18px;
      line-height: 18px;
      position: absolute;
      right: -6px;
      text-align: center;
      top: 0;
      width: 18px; }
    nav.navbar .navbar-actions ul#global-items > li[data-count="0"]::after {
      display: none; }
  nav.navbar #global-items li:first-child {
    margin-right: 25px; }
  nav.navbar #notification-icon #notification-list {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 360px; }
    nav.navbar #notification-icon #notification-list .notification-list-item {
      border-bottom: 1px solid #ccc;
      margin: 0 0 15px 0;
      padding-bottom: 10px;
      width: 100%; }
      nav.navbar #notification-icon #notification-list .notification-list-item .label {
        margin-bottom: 0; }
  nav.navbar #notification-icon.active #notification-list {
    display: block; }

header.column {
  background: #263238;
  padding: 40px 0 0 0; }
  header.column ul {
    font-weight: bold;
    margin-bottom: 30px; }
    header.column ul#user-menu {
      font-weight: normal; }
  header.column .menu-header.menu-item {
    color: #fff;
    font-size: 14px;
    padding: .75rem 1.25rem; }
  header.column .menu-item {
    font-size: 18px;
    opacity: 0.9; }
    header.column .menu-item a, header.column .menu-item > div {
      color: #fff;
      padding: .75rem 1.25rem;
      width: 100%; }
      header.column .menu-item a:hover, header.column .menu-item a.is-active, header.column .menu-item > div:hover, header.column .menu-item > div.is-active {
        background: #f5f5f5;
        color: #209cee; }
    header.column .menu-item i {
      margin-right: 15px; }
    header.column .menu-item .sub-menu {
      background: rgba(0, 0, 0, 0.2);
      font-size: 14px;
      margin-bottom: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 0 0 30px;
      transition: all 0.25s ease-in-out; }
      header.column .menu-item .sub-menu i {
        color: #26a69a; }
    header.column .menu-item.is-active > a {
      background: #26a69a; }
    header.column .menu-item.is-active .sub-menu {
      max-height: 1000px;
      padding: 20px 0 20px 30px; }
    header.column .menu-item .menu-links a {
      float: right;
      margin-left: 10px;
      padding: 0;
      width: auto; }
    header.column .menu-item .menu-links i {
      font-size: 14px;
      margin-right: 0; }
    header.column .menu-item[data-type="object"] > div {
      padding-bottom: 0;
      padding-left: calc(0.5rem + 33px);
      padding-top: 0; }
    header.column .menu-item:hover a {
      color: #209cee; }
  header.column .menu-label {
    margin-bottom: 0;
    padding: 0 1.25rem; }
  header.column #task-count {
    background: #209cee;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    width: 18px; }
  header.column .is-active #task-count {
    color: #fff; }

/*# sourceMappingURL=header.css.map */
