/********************************************************************
* Object dashboard styles
* ******************************************************************/
#objects-list {
  margin-left: 15px; }
  #objects-list .menu-label {
    margin-bottom: 0; }
  #objects-list .menu-list {
    margin-bottom: 30px; }
    #objects-list .menu-list li {
      line-height: 30px;
      padding: 0 0 0 15px; }
    #objects-list .menu-list a {
      display: inline; }

#namespaces-list {
  margin-top: 30px; }
  #namespaces-list ul:empty::before {
    content: 'There are no defined namespaces yet.';
    color: #7a7a7a;
    display: block;
    text-align: center; }

/********************************************************************
* Object styles
* ******************************************************************/
#edit-object.is-loading {
  padding-top: 75px; }
  #edit-object.is-loading form {
    display: none; }
  #edit-object.is-loading .is-loader {
    display: block; }
#edit-object .is-loader {
  display: none; }

#object-edit-form #meta-template {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 20px; }
#object-edit-form .meta-field-list:empty::before {
  content: 'There are no defined meta fields for this group yet.';
  display: block;
  text-align: center; }
#object-edit-form #meta-field-list .meta-list-item .field {
  margin: 0; }
#object-edit-form #meta-field-list .meta-list-item .title {
  margin-bottom: 3px; }
#object-edit-form #options-list {
  margin-bottom: 0.75em; }
  #object-edit-form #options-list:empty:before {
    color: #b5b5b5;
    content: "No options defined yet";
    display: block;
    font-size: 0.75em; }
#object-edit-form .object-meta-section {
  border-left: 2px solid #209cee;
  margin-bottom: 0.5em;
  margin-top: 0.75em;
  padding-left: 0.75em; }
#object-edit-form #extra-field-list .ui-sortable-helper,
#object-edit-form #extra-field-list .ui-sortable-placeholder {
  background: #276cda;
  visibility: visible !important; }
#object-edit-form #extra-field-list:empty::before {
  content: 'There are no extra fields for this yet';
  display: block;
  font-weight: bold;
  padding-bottom: 1.75em; }
#object-edit-form #taxonomy-template {
  margin-top: 10px; }
  #object-edit-form #taxonomy-template.hidden {
    display: none; }
#object-edit-form #taxonomy-list:empty::before {
  color: #b5b5b5;
  content: "No categories defined yet";
  display: block;
  font-size: 0.75em; }

#meta-actions {
  text-align: right;
  width: 50%; }

#current-meta-actions {
  text-align: left;
  font-size: 22px; }
  #current-meta-actions i {
    cursor: pointer;
    margin: 0 7px; }
    #current-meta-actions i:last-child {
      margin-left: 20px; }
  #current-meta-actions.disabled {
    pointer-events: none;
    opacity: 0.25; }

#meta-group-list:empty::before {
  content: 'There are no defined meta groups yet.';
  display: block;
  text-align: center; }
#meta-group-list .meta-group {
  border: 1px solid #ccc;
  margin-top: 30px;
  padding: 15px;
  position: relative; }
#meta-group-list .group-properties {
  background: #fff;
  color: #999;
  padding: 0 15px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 33%; }
  #meta-group-list .group-properties input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    color: #999; }
    #meta-group-list .group-properties input:focus {
      outline: none; }
  #meta-group-list .group-properties i {
    cursor: pointer; }
#meta-group-list .new-meta-field {
  display: block;
  margin: 30px auto 0 auto;
  width: 160px; }

#meta-template {
  display: none; }

.meta-list-item {
  background: #f9f9f9;
  border: 2px solid #fff;
  opacity: 0.5;
  padding: 0; }
  .meta-list-item .meta-name,
  .meta-list-item .meta-slug,
  .meta-list-item .options-list-item input[type="text"],
  .meta-list-item .extra-field-name,
  .meta-list-item .extra-field-slug {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none; }
    .meta-list-item .meta-name:focus,
    .meta-list-item .meta-slug:focus,
    .meta-list-item .options-list-item input[type="text"]:focus,
    .meta-list-item .extra-field-name:focus,
    .meta-list-item .extra-field-slug:focus {
      box-shadow: none;
      outline: none; }
  .meta-list-item .meta-name {
    color: #000;
    font-weight: bold; }
  .meta-list-item.current-meta-item {
    opacity: 1; }
  .meta-list-item label.label,
  .meta-list-item .subtitle {
    margin-bottom: 0; }
  .meta-list-item .options-list-item {
    margin-bottom: 0; }
    .meta-list-item .options-list-item:first-child {
      margin-top: 15px; }
    .meta-list-item .options-list-item:last-child {
      margin-bottom: 15px; }
    .meta-list-item .options-list-item .column {
      padding: 0; }

#post-taxonomies .term-list {
  margin-bottom: 15px; }

/*# sourceMappingURL=object.css.map */
