/********************************************************************
* Login Form
* ******************************************************************/
body.login article > .columns {
  align-items: center;
  min-height: 100vh; }

#loginform {
  margin-top: 45px; }
  #loginform .control {
    margin-bottom: 20px; }
  #loginform input[type="submit"] {
    margin-top: 45px; }
  #loginform label.checkbox {
    margin-top: 7px; }

/********************************************************************
* Dashboard
* ******************************************************************/
#add-dashboard-item {
  border: 1px dashed #ccc;
  padding: 15px;
  text-align: center; }

/********************************************************************
* Menu Setup
* ******************************************************************/
#menu-setup .menu-label {
  margin-bottom: 5px; }
#menu-setup .menu-list {
  margin-bottom: 15px; }
#menu-setup #menu-objects-list {
  margin-bottom: 30px; }
  #menu-setup #menu-objects-list > ul {
    margin-top: 15px;
    padding: 0 0 0 15px; }
    #menu-setup #menu-objects-list > ul .menu-label {
      padding-left: 10px; }
    #menu-setup #menu-objects-list > ul li {
      line-height: 22px;
      padding: 5px 10px; }
    #menu-setup #menu-objects-list > ul i {
      line-height: 22px; }
#menu-setup .menu-group {
  border: 2px dashed #999;
  margin-bottom: 15px;
  padding: 15px;
  position: relative; }
  #menu-setup .menu-group > input[type="text"] {
    appearance: none;
    border: 0;
    box-shadow: none;
    position: absolute;
    top: -15px;
    width: 150px; }
    #menu-setup .menu-group > input[type="text"]:focus {
      outline: none; }
  #menu-setup .menu-group.active-menu-group {
    border-color: #00d1b2; }
  #menu-setup .menu-group .menu-item i {
    margin-left: 10px; }
    #menu-setup .menu-group .menu-item i.enabled {
      color: #00d1b2; }

/********************************************************************
* Single Mash
* ******************************************************************/
#mash-graph-wrapper h1 {
  margin-bottom: 0;
  padding-left: .75rem; }

#mash-actions a {
  margin-bottom: 10px; }

.stat {
  margin-right: 15px;
  text-align: center; }
  .stat#mash-temp .value {
    position: relative; }
    .stat#mash-temp .value::after {
      content: "o";
      display: inline-block;
      font-size: 12px;
      position: absolute;
      top: 5px; }
  .stat .value {
    line-height: 1; }
  .stat .box {
    height: 100%;
    min-height: 100px; }
  .stat .label {
    margin-bottom: 0; }

/********************************************************************
* Stats slider
* ******************************************************************/
.stats-slider .stat .box {
  position: relative; }
  .stats-slider .stat .box .manual-input {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px; }
  .stats-slider .stat .box .manual-value-form {
    display: none;
    margin-top: 4px; }
.stats-slider .stat.manual-active .value {
  display: none; }
.stats-slider .stat.manual-active .manual-value-form {
  display: block; }

/********************************************************************
* Subscriptions
* ******************************************************************/
#subscriptions-list .menu-label {
  margin-bottom: 5px;
  margin-top: 15px; }
#subscriptions-list .item-list {
  line-height: 1.5; }
#subscriptions-list .subscription-item.added {
  color: #00d1b2; }

/********************************************************************
* Tasks
* ******************************************************************/
#task-navigation {
  margin-bottom: 40px; }
  #task-navigation .count {
    background: #fff;
    border-radius: 50%;
    color: #00d1b2;
    font-size: 12px;
    line-height: 16px;
    margin-left: 7px;
    width: 16px; }

#task-actions .column {
  padding-bottom: 0;
  padding-top: 0; }

#task-content .task-list-item {
  margin-bottom: 0; }
  #task-content .task-list-item .title {
    margin-bottom: 0; }

.task .stat {
  display: inline-block;
  margin-left: 7px; }

/********************************************************************
* Comments
* ******************************************************************/
#comments {
  margin-top: 45px; }

#comment-form-wrapper {
  border-bottom: 1px solid #ccc;
  margin-top: 15px;
  padding-bottom: 15px; }

#comment-list {
  margin-top: 30px; }
  #comment-list .comment-list-item {
    margin-bottom: 15px; }
    #comment-list .comment-list-item .time {
      margin-left: 7px; }

/********************************************************************
* Calendar
* ******************************************************************/
.calendar {
  width: 100%; }
  .calendar .calendar-header {
    text-align: center;
    font-weight: bold; }
  .calendar .day {
    color: #fff;
    position: relative; }
    .calendar .day::before {
      content: attr(data-day);
      display: block; }

.calendar[data-style="compact"] .calendar-header {
  font-size: 22px;
  margin-bottom: 7px; }
  .calendar[data-style="compact"] .calendar-header .month-label {
    display: inline-block;
    margin: 0 7px; }
.calendar[data-style="compact"] .week {
  margin-bottom: 0; }
.calendar[data-style="compact"] .day {
  background: #ccc;
  float: left;
  margin: 1px;
  min-height: 45px; }
  .calendar[data-style="compact"] .day:first-child, .calendar[data-style="compact"] .day:last-child {
    background: #209cee; }
  .calendar[data-style="compact"] .day::before {
    font-size: 10px;
    font-weight: bold;
    left: 3px;
    position: absolute;
    top: 3px; }
  .calendar[data-style="compact"] .day.selected {
    background: #ff3860; }
.calendar[data-style="compact"] .not-in-month {
  opacity: 0.5; }

/********************************************************************
* Reports
* ******************************************************************/
.bottling .notes {
  border-bottom: 1px solid #ccc;
  margin-bottom: 45px;
  padding-bottom: 15px; }

.report-item.transfer {
  margin: 30px 0; }

/********************************************************************
* Transactions
* ******************************************************************/
#transaction-stats {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px; }

.transaction-amount .has-text-success::before {
  content: '+ $';
  display: inline; }
.transaction-amount .has-text-danger::before {
  content: '- $';
  display: inline; }

/*# sourceMappingURL=page.css.map */
